.u-section-1 .u-sheet-1 {
  min-height: 2293px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 72px auto 0 94px;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0 420px;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0 746px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 90px;
  margin: 26px auto 0 94px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 50px;
  margin: -90px auto 0;
}

.u-section-1 .u-image-6 {
  width: 300px;
  height: 50px;
  margin: -50px auto 0 746px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 1.25rem;
  width: 272px;
  margin: -36px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -22px 108px 0 760px;
}

.u-section-1 .u-text-3 {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: -23px 760px 0 108px;
}

.u-section-1 .u-image-7 {
  width: 300px;
  height: 300px;
  margin: 130px auto 0 94px;
}

.u-section-1 .u-image-8 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-1 .u-image-9 {
  width: 300px;
  height: 50px;
  margin: 26px auto 0 94px;
}

.u-section-1 .u-image-10 {
  width: 300px;
  height: 50px;
  margin: -50px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -36px 757px 0 111px;
}

.u-section-1 .u-text-5 {
  font-weight: 900;
  font-size: 1.25rem;
  width: 272px;
  margin: -23px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 268px 0 0;
}

.u-section-1 .u-image-11 {
  width: 300px;
  height: 300px;
  margin: 82px auto 0 94px;
}

.u-section-1 .u-image-12 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0;
}

.u-section-1 .u-image-13 {
  width: 300px;
  height: 300px;
  margin: -300px auto 0 746px;
}

.u-section-1 .u-image-14 {
  width: 300px;
  height: 90px;
  margin: 26px auto 0 94px;
}

.u-section-1 .u-text-7 {
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: -77px 760px 0 108px;
}

.u-section-1 .u-image-15 {
  width: 300px;
  height: 50px;
  margin: -77px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 900;
  font-size: 1.25rem;
  width: 272px;
  margin: -36px auto 0;
}

.u-section-1 .u-image-16 {
  width: 300px;
  height: 50px;
  margin: -36px auto 0 746px;
}

.u-section-1 .u-text-9 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -37px 108px 0 760px;
}

.u-section-1 .u-image-17 {
  width: 300px;
  height: 300px;
  margin: 168px auto 0 97px;
}

.u-section-1 .u-image-18 {
  width: 300px;
  height: 50px;
  margin: 26px auto 0 97px;
}

.u-section-1 .u-text-10 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: -36px 760px 29px 108px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 416px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 636px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 8px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 416px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 636px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 338px;
    margin-left: 330px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 12px;
    margin-left: 656px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 660px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 657px;
    margin-left: 11px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 640px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 660px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 640px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 8px;
    margin-left: 660px;
  }

  .u-section-1 .u-text-10 {
    width: 272px;
    margin-right: 660px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 420px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 420px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 448px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-1 .u-image-13 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 448px;
    margin-left: 0;
  }

  .u-section-1 .u-image-16 {
    margin-left: 420px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 448px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 448px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 268px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 268px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 268px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 240px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 268px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 268px;
    margin-bottom: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 68px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 68px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-9 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 68px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-13 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-14 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 68px;
  }

  .u-section-1 .u-image-16 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 68px;
  }

  .u-section-1 .u-image-17 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-18 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 68px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}